{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/_orderEntity.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/6b05dc3d8e.js"></script>
  </head>
  <body>
    <!-- хедер -->
    <table class="ordering-entity__header container">
      <tr>
        <td class="table-cell"><a href="{% url 'main:main' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a></td>
        <td class="table-cell">
          <p class="table-cell__cleaning-type">{{ service_type_name }}</p>
          <p class="table-text">Тип уборки</p>
        </td>
        <td class="table-cell">
          <p class="table-cell__days-week"> </p>
          <p class="table-text">Дни недели</p>
        </td>
        <td class="table-cell">
          <p class="table-cell__cleaning-time"></p>
          <p class="table-text">Время уборки</p>
        </td>
        <td class="table-cell">
          <p class="table-cell__number-staff">1</p>
          <p class="table-text">Кол-во персонала</p>
        </td>
        <td class="table-cell">
          <p class="table-cell__price">от 5000 руб</p>
          <p class="table-text">СТОИМОСТЬ</p>
        </td>
      </tr>
    </table>

    {% include 'cartapp/include/inc_cart_menu.html' %}

  {% block content %}
  {% endblock content %}

  {% block js %}
      <script src="{% static 'js/cart.js' %}"></script>
  {% endblock js %}

    </body>
</html>