{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/orderEntity-calendar.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap"
            rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/6b05dc3d8e.js"></script>
</head>
<body>
<!-- хедер -->
<table class="ordering-entity__header container">
    <tr>
        <td class="table-cell"><img src="{% static 'img/logo.png' %}" alt="logo"/></td>
        <td class="table-cell">
            <p class="table-cell__cleaning-type">Ежедневная по&nbsp;графику</p>
            <p class="table-text">Тип уборки</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__days-week">Пн Ср Пт</p>
            <p class="table-text">Дни недели</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__cleaning-time">15.00 - 19.00</p>
            <p class="table-text">Время уборки</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__number-staff">3</p>
            <p class="table-text">Кол-во персонала</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__price">от 5000 руб</p>
            <p class="table-text">СТОИМОСТЬ</p>
        </td>
    </tr>
</table>
<div class="calendar-form">
    <section class="cleaning-date">
        <h2 class="cleaning-date__title">Выберите дату уборки</h2>

        <div class="calendar">
            <img onclick="change(-1);" src="{% static 'img/Arrow-left.svg' %}" alt=""/>
            <div class="calendar-table" id="id-calendar-table">
                <table>
                    <caption id="month">
                        <!-- Июль -->
                    </caption>
                    <caption id="year">
                        <!-- 2021 -->
                    </caption>
                    <tr>
                        <th>Пн</th>
                        <th>Вт</th>
                        <th>Ср</th>
                        <th>Чт</th>
                        <th>Пт</th>
                        <th>Сб</th>
                        <th>Вс</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <img onclick="change(1);" src="{% static 'img/Arrow-right.svg' %}" alt=""/>
        </div>

        <label for="id-other-date" class="cleaning-date__checkbox">
            Готов рассмотреть другие даты
            <input type="checkbox" name="is_other_date" id="id-other-date"/>
        </label>

        <button class="order-button">Далее</button>
    </section>
</div>
<script src="{% static 'js/cart_calendar.js' %}"></script>
</body>
</html>
