body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1440px;

  font-family: Montserrat;
}
/* секция юридическое лицо ежедневная по графику */
.ordering-entity__header {
  width: 100%;
  height: 143px;
  border-collapse: collapse;
}
.table-cell {
  background: #f3f3f3;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  text-align: center;
  max-width: 290px;
  padding: 30px;
}

.table-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  letter-spacing: -0.015em;
  color: #8c8c8c;
}

.table-cell__cleaning-type,
.table-cell__days-week,
.table-cell__cleaning-time,
.table-cell__number-staff,
.table-cell__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}
/* секция типа уборки ежедневная по графику */
.order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}

.order-type__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 328px;
  height: 60px;
  font-family: 'Montserrat';
  font-style: normal;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.015em;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  font-weight: normal;
  font-size: 18px;
  color: #2594ad;
}

.order-type__active {
  background: #3d77ea;
  border: 1px solid #d4d4d4;
  font-weight: 600;
  font-size: 22px;
  color: #ffffff;
}

.cleaning-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
}
.cleaning-type__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #201d47;
  background-color: white;
  box-sizing: border-box;

  width: 357px;
  height: 79px;
  border: 1px solid #e4e4e4;
}

.cleaning-type__active {
  background: #3d77ea;
  color: #ffffff;
}

.cleaning-type__button, .order-type__button:hover {
  cursor: pointer;
}

.border-left {
  border-radius: 6px 0px 0px 6px;
}

.border-right {
  border-radius: 0px 6px 6px 0px;
}

/* меню выбора ежедневной уборки и доп опции */
.daily-schedule__menu-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #000000;
  text-align: center;
}
.daily-schedule__menu-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 74px;
  letter-spacing: -0.015em;
  color: #2594ad;
}
.daily-schedule__menu-item a {
  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 74px;
  letter-spacing: -0.015em;
  color: #2594ad;
}

.input-cleaning-time {
  display: none;
}

.lable-checkbox {
  display: inline-block;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 74px;
  letter-spacing: -0.015em;
  color: #000000;
}
.lable-checkbox + .lable-checkbox {
  margin-left: 50px;
}
.lable-checkbox__input {
  height: 20px;
  width: 20px;
}

.daily-schedule__menu-item__number {
  display: flex;
}
.daily-schedule__menu-item__number input[type='number'] {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  padding: 0;
  margin: 0;
  width: 70px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.daily-schedule__menu-item__number
  input[type='number']::-webkit-outer-spin-button,
.daily-schedule__menu-item__number
  input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.number-minus,
.number-plus {
  width: 45px;
  height: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 45px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #a0a0a0;
}

.daily-schedule__menu-item input[type='text'] {
  line-height: 2rem;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: -0.015em;
  color: #2594ad;
}
.order-button {
  width: 250px;
  height: 70px;
  background: #57c9b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

/* секция юридическое лицо генеральная уборка */

.spring-cleaning__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.wraper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.spring-cleaning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*justify-content: space-between;*/
  max-width: 50%;
  padding: 50px;
}
.spring-cleaning__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #000000;
}
.spring-cleaning__checkbox {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #2594ad;
  display: flex;
  flex-direction: column;
}
.spring-cleaning__checkbox + .spring-cleaning__checkbox {
  margin-top: 23px;
}
.spring-cleaning__checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.additional-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 50%;
  padding: 50px;
}
.additional-options__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #e47607;
}
.additional-options__checkbox {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #2594ad;
  display: flex;
  flex-direction: column;
}
.additional-options__checkbox + .additional-options__checkbox {
  margin-top: 23px;
}
.additional-options__checkbox input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.additional-options__text {
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  min-height: 94px;
  overflow: auto;
  resize: none;
  margin-top: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #2594AD;
}
/* секция юридическое лицо после ремонта */
.after-renovation__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.after-renovation__title {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
  text-align: start;
}
.after-renovation__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
}
.after-renovation__checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 50%;
  padding: 53px;
}
.after-renovation__checkbox-item {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
  margin-top: 9px;
}

.after-renovation__checkbox-item input {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.after-renovation__window-cleaning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  max-width: 50%;
  padding: 53px;
}
.after-renovation__window-cleaning__amount {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;

  margin-top: 17px;
  display: flex;
}

.after-renovation__window-cleaning__amount input[type='number'] {
  display: block;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;

  padding: 0;
  margin: 0;
  width: 30px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.after-renovation__window-cleaning__amount
  input[type='number']::-webkit-outer-spin-button,
.after-renovation__window-cleaning__amount
  input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.after-renovation__window-cleaning__amount__number-minus,
.after-renovation__window-cleaning__amount__number-plus {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.after-renovation__window-cleaning__amount__number-minus {
  margin-left: 20px;
}
/* секция юридическое лицо мойка окон */
.window-cleaning__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.window-cleaning__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #000000;
}

.window-cleaning__ordinary-windows__title,
.window-cleaning__showcases__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #000000;
}
.window-cleaning__types {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.window-cleaning__ordinary-windows,
.window-cleaning__showcases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 53px;
}
.window-cleaning__ordinary-windows__amount {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;

  margin-top: 25px;
  display: flex;
}
.window-cleaning__ordinary-windows__glazing-area,
.window-cleaning__ordinary-windows__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;
}
.window-cleaning__ordinary-windows__amount input[type='number'] {
  display: block;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;

  padding: 0;
  margin: 0;
  width: 30px;
  box-sizing: border-box;
  text-align: center;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.window-cleaning__ordinary-windows__amount
  input[type='number']::-webkit-outer-spin-button,
.window-cleaning__ordinary-windows__amount
  input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.window-cleaning__ordinary-windows__amount__number-minus,
.window-cleaning__ordinary-windows__amount__number-plus {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.window-cleaning__ordinary-windows__amount__number-minus {
  margin-left: 20px;
}
.window-cleaning__showcases__glazing-area {
  margin-top: 25px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #000000;
}
.window-cleaning__ordinary-windows__glazing-area input {
  width: 70px;

  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;
}
.window-cleaning__showcases__glazing-area input {
  width: 70px;

  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #000000;
}

.label-cleaning-time {
  text-decoration: none;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 74px;
  letter-spacing: -0.015em;
  color: #2594ad;
  margin-right: 20px;
  display: inline-block;
}

.input-cleaning-time:checked+span {
  background: #3d77ea;
  color: white;
}

.custom__checkbox-cart {
  /*position: absolute;*/
  z-index: -1;
  /*opacity: 0;*/
}

.custom__checkbox-cart ~ .optional__text-cart {
  display: none;
}

.custom__checkbox-cart:checked ~ .optional__text-cart {
  display: block;
}