body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1440px;

  font-family: Montserrat;
}
/* юридическое лицо */
.ordering-entity__header {
  width: 100%;
  height: 143px;
  border-collapse: collapse;
}
.table-cell {
  background: #f3f3f3;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
  text-align: center;
  max-width: 290px;
  padding: 30px;
}

.table-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  letter-spacing: -0.015em;
  color: #8c8c8c;
}

.table-cell__cleaning-type,
.table-cell__days-week,
.table-cell__cleaning-time,
.table-cell__number-staff,
.table-cell__price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
}

/* секция  */
.rooms-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.015em;

  color: #201d47;
  margin-top: 77px;
  margin-bottom: 62px;
}
.rooms__form {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  height: 750px;
  width: 576px;
  margin: 0 auto;
}

.rooms__form label {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: #2594ad;
}
.rooms__form input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: -0.015em;

  color: #2594ad;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
.rooms__form-house > input,
.rooms__form-intercom > input,
.rooms__form-entrance > input,
.rooms__form-floor > input,
.rooms__form-square > input {
  width: 100px;
}
.order-button {
  width: 250px;
  height: 70px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  background: #57c9b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #ffffff;
}
