{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Order</title>
    <link rel="stylesheet" href="{% static 'css/orderEntity-rooms.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap"
            rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/6b05dc3d8e.js"></script>
</head>
<body>
<!-- хедер -->
<table class="ordering-entity__header container">
    <tr>
        <td class="table-cell"><img src="{% static 'img/logo.png' %}" alt="logo"/></td>
        <td class="table-cell">
            <p class="table-cell__cleaning-type">Ежедневная по&nbsp;графику</p>
            <p class="table-text">Тип уборки</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__days-week">Пн Ср Пт</p>
            <p class="table-text">Дни недели</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__cleaning-time">15.00 - 19.00</p>
            <p class="table-text">Время уборки</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__number-staff">3</p>
            <p class="table-text">Кол-во персонала</p>
        </td>
        <td class="table-cell">
            <p class="table-cell__price">от 5000 руб</p>
            <p class="table-text">СТОИМОСТЬ</p>
        </td>
    </tr>
</table>
<div class="rooms">
    <h2 class="rooms-title">Введите адрес помещения</h2>
    {% for premise in all_list_permises %}
        {{ premise }}<br/>
    {% endfor %}
    <form class="rooms__form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
{#        <input type="hidden" name="{{ form.instance.premises_owner }}" value="{{ form.premises_owner.id }}">#}
        <label class="rooms__form-type-of-housing" for="{{ form.premises_type.id_for_label }}">
            Тип жилья
            <br/>
            <select id="{{ form.premises_type.id_for_label }}" name="{{ form.premises_type.name }}">
                {% for type in form.fields.premises_type.queryset %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </label>

{#        <label class="rooms__form-square" for="square">#}
{#            Площадь объекта м2#}
{#            <br/>#}
{#            <input type="number" id="square" min="1" name="square"/>#}
{#        </label>#}

        <label class="rooms__form-city" for="{{ form.premises_city.id_for_label }}">
            Город
            <br/>
            <select id="{{ form.premises_city.id_for_label }}" name="{{ form.premises_city.name }}">
                {% for city in form.fields.premises_city.queryset %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label class="rooms__form-street" for="{{ form.premises_street.id_for_label }}">
            Улица
            <br/>
            <input type="text" id="{{ form.premises_street.id_for_label }}" name="{{ form.premises_street.name }}"/>
        </label>

        <label class="rooms__form-house" for="{{ form.premises_house_num.id_for_label }}">
            Дом
            <br/>
            <input type="number" min="1" id="{{ form.premises_house_num.id_for_label }}" name="{{ form.premises_house_num.name }}"/>
        </label>

        <label class="rooms__form-intercom" for="{{ form.premises_intercom.id_for_label }}">
            Домофон
            <br/>
            <input type="text" id="{{ form.premises_intercom.id_for_label }}" name="{{ form.premises_intercom.name }}"/>
        </label>

        <label class="rooms__form-entrance" for="{{ form.premises_entrance.id_for_label }}">
            Подьезд
            <br/>
            <input type="number" id="{{ form.premises_entrance.id_for_label }}" name="{{ form.premises_entrance.name }}" min="1"/>
        </label>

        <label class="rooms__form-floor" for="{{ form.premises_floor.id_for_label }}">
            Этаж
            <br/>
            <input type="number" id="{{ form.premises_floor.id_for_label }}" name="{{ form.premises_floor.name }}" min="1"/>
        </label>

        <button class="order-button" type="submit">Далее</button>
    </form>
</div>
</body>
</html>
