{% extends 'orderapp/orderEntity-base.html' %}
{% load static %}

{% block content %}
<div class="rooms">
    <h2 class="rooms-title">Введите адрес помещения</h2>
    {% for premise in all_list_permises %}
        {{ premise }}<br/>
    {% endfor %}
    <form class="rooms__form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
{#        <input type="hidden" name="{{ form.instance.premises_owner }}" value="{{ form.premises_owner.id }}">#}
        <label class="rooms__form-type-of-housing" for="{{ form.premises_type.id_for_label }}">
            Тип жилья
            <br/>
            <select id="{{ form.premises_type.id_for_label }}" name="{{ form.premises_type.name }}">
                {% for type in form.fields.premises_type.queryset %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label class="rooms__form-square" for="{{ form.premises_apartment.id_for_label }}">
            Номер квартиры
            <br/>
            <input type="number" id="{{ form.premises_apartment.id_for_label }}" min="1" name="{{ form.premises_apartment.name }}"/>
        </label>

        <label class="rooms__form-city" for="{{ form.premises_city.id_for_label }}">
            Город
            <br/>
            <select id="{{ form.premises_city.id_for_label }}" name="{{ form.premises_city.name }}">
                {% for city in form.fields.premises_city.queryset %}
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </label>

        <label class="rooms__form-street" for="{{ form.premises_street.id_for_label }}">
            Улица
            <br/>
            <input type="text" id="{{ form.premises_street.id_for_label }}" name="{{ form.premises_street.name }}"/>
        </label>

        <label class="rooms__form-house" for="{{ form.premises_house_num.id_for_label }}">
            Дом
            <br/>
            <input type="number" min="1" id="{{ form.premises_house_num.id_for_label }}" name="{{ form.premises_house_num.name }}"/>
        </label>

        <label class="rooms__form-intercom" for="{{ form.premises_intercom.id_for_label }}">
            Домофон
            <br/>
            <input type="text" id="{{ form.premises_intercom.id_for_label }}" name="{{ form.premises_intercom.name }}"/>
        </label>

        <label class="rooms__form-entrance" for="{{ form.premises_entrance.id_for_label }}">
            Подьезд
            <br/>
            <input type="number" id="{{ form.premises_entrance.id_for_label }}" name="{{ form.premises_entrance.name }}" min="1"/>
        </label>

        <label class="rooms__form-floor" for="{{ form.premises_floor.id_for_label }}">
            Этаж
            <br/>
            <input type="number" id="{{ form.premises_floor.id_for_label }}" name="{{ form.premises_floor.name }}" min="1"/>
        </label>

        <button class="order-button" type="submit">Далее</button>
    </form>
</div>
{% endblock content %}