$color1: #FFF;
$color2: #2594AD;
$color7: #E47607;

.order {
    padding: 90px 47px 0 47px;
    
    &__btm-button {
        margin-bottom: 44px;
    }

    &__type {
        display: flex;
        margin-bottom: 40px;
        place-content: center;

        &:hover {
            cursor: pointer;
        }


        & :first-child {
            border-radius: 6px 0px 0px 6px;
        }

        & :last-child {
            border-radius: 0px 6px 6px 0px;
        }


        &__item {
            width: 340px;
            height: 70px;
            text-align: center;
            padding-top: 27px;
            box-sizing: border-box;

            border: 1px solid #D4D4D4;
            border-collapse: collapse;

            font-family: Montserrat Alternates;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: $color2;
            background: $color1;

            &_checked {
                background: $color2;
                color: $color1;
                font-family: Montserrat Alternates;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                
            }
        }
    }

    &__more {
        display: flex;
        justify-content: space-between;

        & h3 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 18px;
            letter-spacing: -0.015em;
            color: $color7;
        }

        & p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: -0.015em;
            color: $color2;
        }

        &__item {
            width: 45%;

            
        }
    }
}