{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/a78b596222.js"></script>
</head>

<body>
<div class="container">
    <section class="nav">
        <a href="#"><a href="{% url 'main:main' %}"><img src={% static "img/logo.png" %} alt="logo" title="Домой"></a>
        <ul class="nav__ul">
            <li class="nav__ul__item f-16">
                <a href="#">Как это работает</a>
            </li>
            <li class="nav__ul__item f-16">
                <a href="#">О сервисе</a>
            </li>
            <li class="nav__ul__item f-16">
                <a href="#">FAQ</a>
            </li>
            <li class="nav__ul__item f-16">
                <a href="#">Контакты</a>
            </li>
            <li class="nav__ul__item f-16">
                <a href="#">Поддержка</a>
            </li>
            <li class="nav__ul__item f-16">
                <a href="#">Для Партнеров</a>
            </li>
        </ul>
        <button class="button button_darkgreen__filled" title="Профиль">
            <i class="fa fa-user" aria-hidden="true"></i>
        </button>
    </section>
</div>
    <section class="cabinet-main">
        {% include 'profileapp/include/inc_lk_user_menu.html' %}
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>