<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Administrator lk</title>
</head>
<body>

<div class="container">

    <ul class="nav nav-pills nav-fill mt-3">
        {% for key, value in lk_admin_menu.items %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == key %}active
                                   {% elif request.resolver_match.url_name == 'lk_admin_cleaner_edit' and key == 'lk_admin_cleaner_list' %}active
                                   {% elif request.resolver_match.url_name == 'lk_admin_users_edit' and key == 'lk_admin_users_list' %}active
                                   {% endif %}"
                   aria-current="page"
                   href="{% url value.1 user.email %}">{{ value.0 }}</a>
            </li>
        {% endfor %}
    </ul>

    {% block content %}
    {% endblock %}
    <button class="btn btn-link form-control">
        <a href="{% url 'edit:lk_my_data' user.email %}">
            вернуться в личный кабинет
        </a>
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>