{% extends 'authapp/base.html' %}

{% block content %}
    <form class="form-horizontal" action="{% url 'edit:change_password' user.email %}" method="POST">
        {% csrf_token %}
        {{ change_pass_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-link form-control">
        <a href="{% url 'main:main' %}">
            на главную
        </a>
    </button>
    <button class="btn btn-link form-control">
        <a href="{% url 'edit:edit' user.email %}">
            назад
        </a>
    </button>
{% endblock %}