{% extends 'profileapp/base.html' %}

{% block content %}
    <form id="form-add-cleaner" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mt-3 w-50 mx-auto">
            <input type="hidden" name="{{ form.user_type.name }}" value="{{ moder_pk }}">
            {{ form.title.errors }}
            {{ form.title }}
            {{ form.name_display_site.errors }}
            {{ form.name_display_site }}
            {{ form.phone_number.errors }}
            {{ form.phone_number }}
            {{ form.email.errors }}
            {{ form.email }}
            {{ form.inn_kpp.errors }}
            {{ form.inn_kpp }}
            {{ form.city.errors }}
            {{ form.city }}
            {{ form.password.errors }}
            {{ form.password }}
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
    </form>
{% endblock content %}
