{% extends 'authapp/base.html' %}

{% block content %}
    <div class="h2 text-center head">
        {{ title }}
    </div>
    <a>Введите свой e-mail в форму ниже, и мы вышлем вам инструкции по созданию нового пароля.</a>
    <form class="form-horizontal" action="{% url 'auth:reset_password' %}" method="POST">
        {% csrf_token %}
        {{ reset_pass_form.as_p }}
        <input class="form-control" type="submit" value="отправить">
    </form>
    <button class="btn btn-link form-control">
        <a href="{% url 'auth:login' %}">
            вернуться
        </a>
    </button>
{% endblock %}