{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
        <section class="registration-main">
            <h2>{{ title }}</h2>

            <form action="" class="login_form" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {{ form.new_password1.errors }}
                <div class="login_form__element">
                    <label class="login_form__input_h" for="password">{{ form.new_password1.label }}</label>
                </div>
                <div class="login_form__element">{{ form.new_password1 }}</div>

                {{ form.new_password2.errors }}
                <div class="login_form__element">
                    <label class="login_form__input_h" for="password">{{ form.new_password2.label }}</label>
                </div>
                <div class="login_form__element">{{ form.new_password2 }}</div>
                <button type="submit" class="button button_darkgreen__filled login_form__button">Сохранить</button>
            </form>
        </section>
{% endblock content %}