{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <section class="registration-main">
        <h2>Сброс пароля</h2>
        <p class="registration-main__p">Введите свой e-mail в форму ниже, и мы вышлем вам инструкции по созданию нового пароля.</p>

        <form class="form-horizontal" action="{% url 'auth:reset_password' %}" method="POST">
            {% csrf_token %}
            {{ reset_pass_form.non_field_errors }}
            {{ reset_pass_form.email.errors }}
            <div class="login_form__element">
                    <label class="login_form__input_h" for="login">{{ reset_pass_form.email.label }}</label>
            </div>
            <div class="login_form__element">{{ reset_pass_form.email }}</div>

            <button type="submit" class="button button_darkgreen__filled login_form__button">Отправить</button>
        </form>
        <div class="restore">
            <div><a href="{% url 'auth:login' %}"><span class="restore__g">Вернуться</span></a></div>
        </div>
    </section>
{% endblock %}